
h1 {
	text-align: center;
}

#wrapper {
	margin: 0 auto;
	width: 800px;
	height: 3000px;
	padding: 40px;
	border: solid blue 2px;
}

#navigationBar {
	width: 780px;
	height: 60px;
	border: solid red 2px;
	text-align: center;
	padding: 5px;
	margin: 5px;
}

#center {
	clear: both;
	width: 780px;
	height:800px;
	border: solid black 2px;
	padding: 5px;
	margin: 5px;
}

}
#footer {
	clear: both;
	padding: 20px;
}



